meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)

link(rel="icon", href=url_for(theme.favicon))

<title>Seeing Sharply</title>
<meta name="description" content="Technical blog of Microsoft certified developer James Hickey. Helping you reach the next step of your career as a software developer!">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Seeing Sharply">
<meta itemprop="description" content="Technical blog of Microsoft certified developer James Hickey. Helping you reach the next step of your career as a software developer!">
<meta itemprop="image" content="https://www.blog.jamesmichaelhickey.com/james.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.blog.jamesmichaelhickey.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Seeing Sharply">
<meta property="og:description" content="Technical blog of Microsoft certified developer James Hickey. Helping you reach the next step of your career as a software developer!">
<meta property="og:image" content="https://www.blog.jamesmichaelhickey.com/james.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Seeing Sharply">
<meta name="twitter:description" content="Technical blog of Microsoft certified developer James Hickey. Helping you reach the next step of your career as a software developer!">
<meta name="twitter:image" content="https://www.blog.jamesmichaelhickey.com/james.png">

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel="stylesheet", href="/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)
